{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-light bg-light scrolling-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand mb-0"><img src="static/images/richard.png"></h1>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Service">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Work">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>              
    </nav>
</div>
<div id="Home" class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="">
        <h1 class="hero-title bounceIn animated">Richard<br> Abrokwah</h1>
        <div id="messenger"></div>
        <a href="https://docs.google.com/forms/d/1oADo1qBTemqmmNZMvXCp1eAZaa53jFQBYr-GEqrqvnQ/edit" target="_blank"><button type="button" class="btn blue btn-lg rounded-0">I NEED A WEBSITE</button></a>
        <a href="#Contact"><button type="button" class="btn white btn-lg rounded-0" style="color: #4eb5f7 !important;">HIRE ME</button></a>
    </div>
</div>
<!--ABOUT AREA-->
<div id="About" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                    <a href="https://www.userfeel.com/t/2f78c537"><img class="mb-4" alt="certificate badge" src='https://www.userfeel.com/tester/85440/image' width='257'></a>
                </div>
                <div class="col-md-8">
                    <div class="text-center">                     
                     <p>Focused on crafting and writing clean and efficient code with user-friendly experiences in mind passion for the latest solutions and interactive design. I'm a creative person and positive thinker. Working on new projects and tasks is my thing.</p>
                     <p><span class="primary">I’m currently available for freelance work.</span>
                        Do you have a project that you want to get started, think you need my help with something or just want to grab a drink and chat, <a href="#Contact" class="primary">then get in touch.</a>
                    </p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!--END ABOUT AREA-->
    <!--SERVICES AREA-->
    <div id="Service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h3>What i can do</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-code"></i></div>
                        <h4>Front-end Developer</h4>
                        <p>With code, ideas and sketches can become a reality in the browser and thats what i love to do.</p>
                        <h5 class="primary">Skillset</h5>  
                        <p>HTML/CSS, JS, Less, Sass, Git</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-book"></i></div>
                        <h4>Mentor</h4>
                        <p>I love to help kids and adults alike with the passion for development to make something out of it.</p>  
                        <h5 class="primary">Where i teach</h5>  
                        <p><a target="_blank" href="https://codeforkids.club">Code For Kids Club</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-camera-retro"></i></div>
                        <h4>Photography Hobbyist</h4>
                        <p>Photos are good memory reminders, and i'd like to share my perspective through my lens.</p>   
                        <h5 class="primary">What i like to shoot</h5>
                        <p>Landscape, Wedding, Portrait</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-paint-brush"></i></div>
                        <h4>Rookie Designer</h4>
                        <p>I value simple content structure, clean design patterns, and thoughtful <br>interactions.</p>   
                        <h5 class="primary">Things i like to design</h5>
                        <p>UI, UX, Web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SERVICES AREA END-->
    <!--WORK AREA-->
    <div id="Work" class="work-area section-padding">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title">Recent work</h3>
                    <p class="text-center">Here are a few recent design projects. Want to see more? Email me.</p>
                </div>
            </div> 
            <div class="row">
                {% for work in work_list %}
                <div class="col-md-3 col-6" style="margin-bottom: 20px;">
                    <div class="work-thumb">
                        <div class="view overlay hm-blue-strong">
                            <img src="../static/images/work2.jpg" class="img-fluid " alt="work">
                            <div class="mask flex-center waves-effect waves-light">
                                <div class="work-details">
                                    <p class="white-text bounce">{{ work.title|striptags }}</p>
                                    <small> {{ work.type|striptags}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    <!--WORK AREA END-->
    <!--BLOG AREA-->
    <div id="Blog" class="blog-area section-padding">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title">My Blog</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog5.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                               <!--  <a class="activator"><i class="fa fa-share-alt"></i></a> -->
                                <!--Title-->
                                <h4 class="card-title primary">My Photography Journey</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">I started playing with photography when I developed love for aviation and plane-spotting ...</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Coming soon <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog2.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                               <!--  <a class="activator"><i class="fa fa-share-alt"></i></a> -->
                                <!--Title-->
                                <h4 class="card-title primary">Natural Portrait</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">The quality of the light you will be shooting in is the most important thing to consider ...</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Coming soon <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog4.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                                <!-- <a class="activator"><i class="fa fa-share-alt"></i></a> -->
                                <!--Title-->
                                <h4 class="card-title primary">Long Exposure Photography</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">When i came across long exposure photography for landscapes. It was love at first sight ...</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Coming soon <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BLOG AREA END-->
    <!--CONTACT AREA-->
    <div id="Contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title"> Contact Me</h3>              
                </div>     
            </div>
            <div class="container">
                <!--Section: Contact v.3-->
                <section class="section mb-5 pt-5">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->

                        <!--Form with header-->
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-body form">
                                        <!--Header-->
                                        <div class="formHeader mb-1 pt-3">
                                            <h4>Say Hello <span aria-label="emoji" role="img">👋</span></h4>
                                            <!-- <p>Interested in working together?<br> We should queue up a chat.<br> I’ll buy the coffee.</p> -->
                                            <p>
                                                We could talk about :<br>
                                                Your project (idea, budget, timeline)<br>
                                                Anything interesting<br>
                                                Meeting for a drink
                                            </p>
                                        </div>
                                        <br>
                                        <form action="https://formspree.io/richard.abrox@gmail.com" method="POST">
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" name="name" id="form-contact-name" class="form-control">
                                                            <label for="form-contact-name" class="">Your name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" name="email" id="form-contact-email" class="form-control">
                                                            <label for="form-contact-email" class="">Your email</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" name="phone" id="form-contact-phone" class="form-control">
                                                            <label for="form-contact-phone" class="">Your phone</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" name="company" id="form-contact-company" class="form-control">
                                                            <label for="form-contact-company" class="">Your company</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-12">
                                                    <div class="md-form">
                                                        <textarea type="text" required rows="8" id="form-contact-message"name="message" class="md-textarea"></textarea>
                                                        <label for="form-contact-message">Your message</label>
                                                    </div>
                                                    <button type="submit" value="send" class="btn blue pull-right rounded-0">Send</button>
                                                </div>
                                                <!--Grid column-->

                                                <!--Grid row-->
                                            </form>
                                        </div>
                                    </div>
                                </div>       
                            </div>
                            <!--/Form with header-->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>   
    <!--CONTACT AREA END-->
    <!--FOOTER AREA-->
    <footer class="page-footer center-on-small-only">
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2019 <strong>Richard Abrokwah.</strong> All Rights Reserved
            </div>
        </div>
    </footer>
    <!--FOOTER AREA END-->  
    {% endblock %}

