{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-light bg-light scrolling-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand mb-0"><img src="static/images/richard.png"></h1>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Service">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Work">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>              
    </nav>
</div>
<div id="Home" class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="">
        <h1 class="display-5 bounceIn animated">FRONT-END WEB DEVELOPER</h1>
        <div id="messenger"></div>
        <button type="button" class="btn btn-primary btn-lg rounded-0">I NEED A WEBSITE <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn peach-gradient btn-lg rounded-0">HIRE ME</button>
    </div>
</div>
<!--ABOUT AREA-->
<div id="About" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                   <!--  <div>
                        <img  class="author-img" src="../static/images/author.jpg">
                    </div> -->
                    <a href="https://www.userfeel.com/t/2f78c537"><img src='https://www.userfeel.com/tester/85440/image'  width='257'></a>
                </div>
                <div class="col-md-8">
                    <div>
                        <h4>Hi there, who am i ?</h4>
                        <h6 class="text-uppercase">I am Richard, <span class="theme-color"> Web-developer </span> & <span class="theme-color">Database admin</span>.</h6>
                        Focused on crafting and writing clean and efficient code with user-friendly experiences in mind passion for the latest solutions and interactive design. I'm a creative person and positive thinker. I prefer challenges and have no fear of new things and tasks.
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!--END ABOUT AREA-->
    <!--SERVICES AREA-->
    <div id="Service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h3>What i can do</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-code"></i></div>
                        <h4>Front-end Developer</h4>
                        <p>With code, ideas and sketches can become a reality in the browser and thats what i love to do.</p>
                        <h5 class="primary">Skillset</h5>  
                        <p>HTML/CSS, JS, Less, Sass, Git</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-book"></i></div>
                        <h4>Mentor</h4>
                        <p>I love to help kids and adults alike with the passion for development to make something out  of it.</p>  
                        <h5 class="primary">Where i teach</h5>  
                        <p><a target="_blank" href="https://codeforkids.club">Code For Kids Club</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="pb-4"><i class="fa fa-2x fa-paint-brush"></i></div>
                        <h4>Rookie Designer</h4>
                        <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>   
                        <h5 class="primary">Things i like to design</h5>
                        <p>UI, UX, Web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SERVICES AREA END-->
    <!--WORK AREA-->
    <div id="Work" class="work-area section-padding">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title">Recent work</h3>
                    <p class="text-center">Here are a few recent design projects. Want to see more? Email me.</p>
                </div>
            </div> 
            <div class="row">
                {% for work in work_list %}
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="work-thumb">
                        <div class="view overlay hm-blue-strong">
                            <img src="../static/images/work2.jpg" class="img-fluid " alt="work">
                            <div class="mask flex-center waves-effect waves-light">
                                <div class="work-details">
                                    <p class="white-text bounce">{{ work.title|striptags }}</p>
                                    <small> {{ work.type|striptags}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    <!--WORK AREA END-->
    <!--BLOG AREA-->
    <div id="Blog" class="blog-area section-padding">
        <div class="container"> 
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title">My Blog</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog5.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                                <a class="activator"><i class="fa fa-share-alt"></i></a>
                                <!--Title-->
                                <h4 class="card-title">My Photography Journey</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog2.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                                <a class="activator"><i class="fa fa-share-alt"></i></a>
                                <!--Title-->
                                <h4 class="card-title">Natural Portrait</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" style="margin-bottom: 20px;">
                    <div class="card">
                        <div class="view overlay hm-white-slight">
                            <div class="view overlay hm-white-slight">
                                <img src="../static/images/blog4.jpg" class="img-fluid" alt="">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <!--Social shares button-->
                                <a class="activator"><i class="fa fa-share-alt"></i></a>
                                <!--Title-->
                                <h4 class="card-title">Long Exposure Photography</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="d-flex flex-row-reverse">
                                    <h5 class="waves-effect waves-light p-2">Read more <i class="fa fa-chevron-right"></i></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BLOG AREA END-->
    <!--CONTACT AREA-->
    <div id="Contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section-title"> Contact Me</h3>              
                </div>     
            </div>
            <!--Section: Contact v.3-->
            <section class="section mb-5 pt-5">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-10">
                        <!--Form with header-->
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="card-body form">
                                        <!--Header-->
                                        <div class="formHeader mb-1 pt-3">
                                            <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                                        </div>
                                        <br>
                                        <form>
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-name" class="form-control">
                                                            <label for="form-contact-name" class="">Your name</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-email" class="form-control">
                                                            <label for="form-contact-email" class="">Your email</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-phone" class="form-control">
                                                            <label for="form-contact-phone" class="">Your phone</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form">
                                                        <div class="md-form">
                                                            <input type="text" id="form-contact-company" class="form-control">
                                                            <label for="form-contact-company" class="">Your company</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-12">
                                                    <div class="md-form">
                                                        <textarea type="text" id="form-contact-message" class="md-textarea"></textarea>
                                                        <label for="form-contact-message">Your message</label>
                                                        <a class="btn-floating btn-lg blue"><i class="fa fa-send-o"></i></a>
                                                    </div>
                                                </div>
                                                <!--Grid column-->
                                            </div>
                                            <!--Grid row-->
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-body contact text-center">
                                        <div class="container">
                                            <div class="mb-5">
                                                <h3>Contact information</h3>
                                            </div>

                                            <ul class="contact-icons contact-card">
                                                <li>
                                                    <p><i class="fa fa-map-marker"></i>Accra, GHANA</p>
                                                </li>

                                                <li>
                                                    <p><i class="fa fa-phone"></i>+ 233 248 62 1174</p>
                                                </li>

                                                <li>
                                                    <p><i class="fa fa-envelope"></i>richard.abrox@gmail.com</p>
                                                </li>
                                            </ul>
                                            <hr class="hr-light mb-4 mt-4">
                                            <ul class="inline-ul text-center list-unstyled">
                                                <li><a class="icons-sm tw-ic" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a class="icons-sm li-ic" href="https://500px.com/richieee" target="_blank"><i class="fa fa-500px"></i></a></li>
                                                <li><a class="icons-sm ins-ic" href="https://instagram.com/grandfunkygamer" target="_blank"><i class="fa fa-instagram"> </i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>       
                        </div>
                        <!--/Form with header-->
                    </div>
                </div>
            </section>
        </div>
    </div>   
    <!--CONTACT AREA END-->
    <!--FOOTER AREA-->
    <footer class="page-footer center-on-small-only">
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 <strong>Richard Abrokwah.</strong> All Rights Reserved
            </div>
        </div>
    </footer>
    <!--FOOTER AREA END-->  
    {% endblock %}

